<%= form_with(model: cloth_transmission) do |form| %>
  <% if cloth_transmission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cloth_transmission.errors.count, "error") %> prohibited this cloth_transmission from being saved:</h2>

      <ul>
        <% cloth_transmission.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :cloth_id %>
    <%= form.collection_select(:cloth_id, Cloth.all, :id, :name, {:prompt => "Please Select a Cloth"}, {:multiple => true}) %>
  </div>

  <div class="field">
    <%= form.label :transmission_id %>
    <%= form.collection_select(:transmission_id, Transmision.all, :id, :date ) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
